<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作業一：二元搜尋樹的資料新增與搜尋</title>
    <!-- 引入 tailwindcss -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- 引入 vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>

<body class="bg-gray-900 font-bold">
    <div id="app" class="flex flex-col items-center p-6 w-full md:h-screen justify-center">

        <div class="flex flex-col space-y-4 md:flex-row md:space-x-16 md:space-y-0">
            <div class="flex flex-col justify-center shadow-xl p-6 bg-gray-300 rounded-xl space-y-4">
                <div class="flex flex-col items-center ">
                    <label for="insert-input" class="text-lg mb-2">插入一個數字：</label>
                    <div class="flex items-center">
                        <input id="insert-input" class="w-24 border rounded-l px-2 py-1 mr-0 outline-none" v-model="newNodeValue">
                        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold rounded-r px-4 py-1" @click="insertNode">插入</button>
                    </div>
                </div>
                <label for="random-input" class="text-lg mb-2">查詢數字是否存在：</label>
                <div class="flex items-center">
                    <input id="random-input" class="w-24 border rounded-l px-2 py-1 mr-0 outline-none" v-model="targetValue">
                    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold rounded-r px-4 py-1" @click="searchNode">查詢</button>
                </div>
            </div>
            <div class="flex flex-col items-start bg-gray-300 rounded-xl p-6">

                <div class="flex flex-col items-start space-y-2 md:space-y-6">
                    <label for="insert-input" class="text-lg mb-2">插入隨機 n 個數字：</label>
                    <div class="flex items-baseline ">
                        <label for="random-input" class="text-lg mr-4">範圍:</label>
                        <input id="random-input" class="w-12 border rounded-l px-2 py-1 mr-1 outline-none" v-model="nodeRangeStart"> ~
                        <input id="random-input" class="w-12 border rounded-l px-2 py-1 ml-1 outline-none" v-model="nodeRangeEnd">
                    </div>
                    <div class="flex items-center">
                        <label for="random-input" class="text-lg mr-4">數量:</label>
                        <input id="random-input" class="w-24 border rounded-l px-2 py-1 mr-0 outline-none" v-model="nodeCount">
                    </div>
                    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold rounded px-4 py-1" @click="insertMultipleNodes">插入</button>

                </div>
            </div>
        </div>
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold rounded px-4 py-1 m-4 md:m-8" @click="deleteNode">清除資料</button>
        <div class="flex flex-col">

            <div class="w-full mt-4 md:mt-8 flex flex-col items-center">
                <h2 class="text-xl mb-4 text-gray-100">前序遍歷</h2>
                <div class="flex flex-wrap justify-center">
                    <span v-for="(val, idx) in preorderTraversalResult" :key="idx" class="bg-gray-200 rounded-full px-4 py-1 mx-1">{{val}}</span>
                </div>
            </div>
            <div class="w-full mt-8 flex flex-col items-center">
                <h2 class="text-xl mb-4 text-gray-100">中序遍歷</h2>
                <div class="flex flex-wrap justify-center">
                    <span v-for="(val, idx) in inorderTraversalResult" :key="idx" class="bg-gray-200 rounded-full px-4 py-1 mx-1">{{val}}</span>
                </div>
            </div>
            <div class="w-full mt-8 flex flex-col items-center">
                <h2 class="text-xl mb-4 text-gray-100">後序遍歷</h2>
                <div class="flex flex-wrap justify-center">
                    <span v-for="(val, idx) in postorderTraversalResult" :key="idx" class="bg-gray-200 rounded-full px-4 py-1 mx-1">{{val}}</span>
                </div>
            </div>

        </div>

    </div>
    <script src="index.js"></script>
</body>

</html>